// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: rgb(40,40,40);
$light-gray: #F4F4F4;

// SEULES COULEURS AUTORISEES!!!!!!!!

$leasypurple: #3BD0D6;
$leasyblue: #91C5F9;
$leasyturquoise: #91F9E5;
$leasypink: #FFD1E0;
$leasylightblue: #E0FBFC;
$leasyyellow: #FFBF2D;
$leasyyellowligthopacity: rgba(255, 191, 45, 0.2);
$leasylightyellow: #F8FA90;
$leasylightmain: rgb(135, 225, 228);

