<!-- <p>
  <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <p id = "accordion-decoration">Envoi notification au locataire <i class="fa fa-envelope" aria-hidden="true"></i></p>
  </a>
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-block">
    <ul>Congé avec renouvellement</ul>
    <ul>Congé refus de renouvellement (motif grave)</ul>
    <ul>Congé refus de renouvellement (insalubrité)</ul>
    <ul>Congé refus de renouvellement (avec indemnité)</ul>
  </div>
</div>
 -->
