.choice_owner {

  .ownerchoice {
    .options {
      justify-content: space-around;
      display: flex;
      align-items: center;

      cursor: pointer;
      width: 100%;
      .option-column-1 {
        background: rgba(17,213,144,0.9);
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
        color: white;
        font-size: 20px;
        margin: 10px 20px;
        align-items: center;
        text-align: center;
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        border-color: rgba(17,213,144,0.9);
        width: 100%;
      }
      .option-column-1:hover {
        text-decoration: none;
        background: white;
        border-style: solid;
        border-width: 1px;
        border-color: rgba(17,213,144,0.9);
        color: rgba(17,213,144,0.9);
      }
      .option-column-2 {
        background: rgba(246, 62, 57, 0.9);
        color: white;
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 20px;
        margin: 10px 20px;
        align-items: center;
        text-align: center;
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        border-color: rgba(246, 62, 57, 0.9);
        width: 100%;
      }
      .option-column-2:hover {
        text-decoration: none;
        color: rgba(246, 62, 57, 0.9);
        background: white;
        border-style: solid;
        border-width: 1px;
        border-color: rgba(246, 62, 57, 0.9);
      }
    }
  }
  .content-choice {
    padding: 0px 15px;
  }
  .step {
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: rgb(200,200,200);
    border-bottom: 1px solid rgba(220,220,220,0.9);
    cursor: pointer;
  }
  .modal-body {
    padding: 0px;
    // background: #F4F8F9;
    background: white;
  }
  .btn {
    width: 100%;
  }
  .asterisque {
    margin-top: 20px;
    text-align: left;
    font-size: 12px;
    color: rgb(100,100,100)
  }

  .instructions {
    // background: linear-gradient(to bottom, $brand-primary, $leasylightmain);
    padding: 8px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // background: white;
    background: #F4F8F9;
    border-color: rgb(230, 230, 230);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    width: 100%;
    // box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
    color: rgb(91, 91, 91);
    // margin: 0px 10px;
    p {
      justify-content: space-between;
    }
  }
  .column_info-1 {
    padding: 15px;
  }
    .column_info-2 {
    padding: 15px;
  }

  .rightform {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
    background: white;
    padding: 30px;
    border-color: white;
    box-shadow: none;
    align-items: center;
    .fa-money {
      color: $brand-primary;
    }
    label {
      margin-top: 10px;
      font-size: 20px;
    }
    input, input:active {
      border: 1px solid $leasylightmain;
      font-size: 20px;
      box-shadow: none;
      opacity: 1px;
      transition: opacity 3s;
    }

  }
}
