.letterstyle {
  background: white;
  p {
    font-size: 15px;
  }
}

.letterhead {
  p {
  font-size: 12px;
  }
}

.letterhead-left {
  width: 100%;
  p  {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
  }


  .imageletter {
    height: 70px;
  }
}
.letterhead-right {
  width: 100%;
  text-align: right;
  p  {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  }
}

.lettercontent {
  margin-top: 70px;
  padding: 0px 10px;
  p {
    font-size: 12px;
    text-align: justify;
  }
}

.letterfooter {
  margin-top: 20px;
  margin-left: 40px;
  img {
    height: 50px;
  }
}
