.status-box {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin: 25px 0;
  padding: 15px;
  border-style: solid;
  border-radius: 3px;
  border-color: rgb(240, 240, 240);
  border-width: 1px;
}
.status_title_grey {
  font-size: 14px;
  color: lightgrey;
  margin-top: 10px;
  // width: 200px;
}
.status_title_black {
  margin-top: 20px;
  white-space: normal;
}
.status-update {
  margin: 30px;
}
#status-grey {
  color: lightgray;
}
#status-black {
  color: #5B5B5B;
}

.status_conclusion {
  color: $leasypurple;
}
.picto_status {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#no-comment-yet {
  margin: 30px 0;
  text-align: center;
  color: grey;
}
.post_comment {
  align: right;
}
.top-show-right {
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: lightgray;
  align-items: center;
}
.icon-status {
  padding-bottom: 13px;
}
