table {
  font-size: 12px;
}
.table-head-event-index {
  border-bottom: 2px solid $leasyblue !important ;
}
.container-white {
  background-color: transparent;
  padding: 0px;
}
.background-transparent {
  background-color: transparent !important;
}
.table-row-event-index {
  border-bottom: 2px dotted $leasyturquoise !important ;
}
tbody tr:hover {
  background-color: rgba(59, 208, 214, 0.3) !important;
  transition: all 0.4s ease-out;
  cursor: pointer !important;
}
.table-row-event-index {
  background: white;
  height: 50px;
  border-radius: 15px;
}
.spacer {
  height: 1px;
  td {
    background: none;
    margin: none;
    padding-top: 2px;
    padding-top: 2px;
    border-radius: 10px;
  }
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  padding-top: 3px;
  padding-bottom: 3px;
  vertical-align: middle;
}
tr {
  outline: thin solid #F4F8F9;}

.col_spacer:hover{
  background: #F4F8F9;
  cursor: auto !important;
}
